.body {
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

/*顶部照片颜色*/
.header {
    background-image: url("../image/header.jpg");
    background-repeat: repeat-x;
    height: 100px;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: STZhongsong, serif;
}

.header img {
    border-radius: 5px;
    position: relative;
    top: 10px;
    background-repeat: inherit;
}

.sign {
    color: #660000;
}

h2 {
    color: #000000;
}

.other {
    font-size: 20px;
    font-weight: bold;
    color: #660000;
    text-decoration: none;
}

/*子页面主背景*/
.row {
    margin: 10px;
    background-color: white;
    padding: 10px;
    overflow: visible;
}

.active {
    background-color: rgba(255, 255, 255, 0.8);
}

/*顶栏背景颜色*/
.topmenu {
    list-style-type: none;
    margin: 0;
    border-radius: 15px;
    padding-left: 10px;
    overflow: hidden;
    background-color: #f1f2f3;
}


.topmenu li {
    float: left;
}

/*顶栏字体颜色*/
.topmenu li a {
    margin: 0;
    border-radius: 15px;
    padding: 20px 30px;
    display: block;
    color: #61666d;
}

.topmenu a:link {
    text-decoration: none;
}

.topmenu a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    font-family: "Roboto", sans-serif;
    height: 150vh;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background: url("https://static.pexels.com/photos/373934/pexels-photo-373934.jpeg") no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

div {
    width: 200px;
    height: 120px;
    line-height: 120px;
    margin: 50px;
    border: 10px solid #ddd;
    color: #fff;
    text-align: center;
    font-size: 28px;
}

}

/*子页面侧边栏*/
.sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f2f3;
    border-radius: 6px;
}

.sidemenu a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
    border-radius: 6px;
}

.sidemenu a.active {
    background-color: #555;
    color: white;
}

.sidemenu a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 1);
}

.row div {
    float: left;
    margin: 10px;
}

/*子页面背景*/
.content {
    width: 70%;
    margin: 20px;
    padding: 0 30px;
    border-radius: 6px;
    background-color: #f1f2f3;
}

.row {
    height: 900px;
}

/*主界面底部栏*/
.foot {
    background-color: #f1f2f3;
    border-radius: 18px;
}