/* 注意事项 */
/* 本小组作业中所有使用到的颜色
   #f1f2f3淡灰 文字区域使用
   #f7f6f2淡黄 背景区域使用
   #555   深灰 在淡灰区块内凸显
   #61666d深灰 淡灰区块内文字
   #ffd900亮黄 标记
*/

/*顶部照片*/
.header {
    background-image: url("../image/header.jpg");
    height: 100px;
    margin: 5px;
}

/*顶栏目录*/
.topmenu {
    list-style-type: none;
    /* 给定元素设置所有四个（上下左右）方向的外边距属性 */
    margin: 0;
    /* 框的圆角 */
    border-radius: 15px;
    /* 是指一个元素在内边距区域（padding area）中左边的宽度 */
    padding-left: 10px;
    /* 设置了元素溢出时所需的行 */
    overflow: hidden;
    background-color: #f1f2f3;
}

/* 顶栏目录定位 */
.topmenu li {
    float: left;
}

/*顶栏字体颜色*/
.topmenu li a {
    margin: 0;
    border-radius: 15px;
    padding: 20px 30px;
    display: block;
    color: #61666d;
}

/* 去除顶栏文字下划线 */
.topmenu a:link {
    text-decoration: none;
}

/* 实现顶栏区块被选中效果 */
.topmenu a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.5);
}

/*底部栏*/
.foot {
    background-color: #f7f6f2;
    border-radius: 18px;
    height: 50px;
}

/* 底栏内部文字颜色 */
.sign {
    color: #ffd900;
}

/*子页面主背景*/
.row {
    margin: 10px;
    /* 子页面背景颜色尽量不要改,未实现根据文字长度延伸背景颜色 */
    background-color: white;
    padding: 10px;
    overflow: visible;
    height: 900px;
}

/*子页面侧边栏*/
.sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f2f3;
    border-radius: 6px;
}

/*子页面侧边栏文字*/
.sidemenu a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
    border-radius: 6px;
}

/*子页面侧边栏选中区域*/
.sidemenu a.active {
    background-color: #555;
    color: white;
}
.row div {
    float: left;
    margin: 10px;
}
/*子页面背景*/
.content {
    width: 70%;
    margin: 20px;
    padding: 0 30px;
    border-radius: 6px;
    background-color: #f1f2f3;
}